/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
ion-content {
    --background: #33a1da;
}

.pad5 {
    padding: 5px;
}

.font500 {
    font-weight: bold !important;
}

ion-header {
    ion-toolbar {
        --background: #33a1da;
        ion-title {
            color: aliceblue
        }
    }
    //--background: var(--ion-color-primary-shade)
}

.alicebluecolor {
    color: aliceblue
}

.mrgntop {
    margin-top: 0px;
}

.padTB5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.padL5 {
    padding-left: 5px !important;
}

.padR5 {
    padding-right: 5px !important;
}

.mrgnTB5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.slider-pager-page {
    color: yellow !important;
}

.slider-pager-page.active {
    color: "white" !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 30px;
    left: 0;
    width: 100%;
}

.nowrap {
    white-space: nowrap;
}