ion-content {
    ion-card {
        border-radius: 10px;
        height: 50%;
        z-index: 1;
        ion-img {
            margin-bottom: 5px;
        }
        ion-label {
            font-size: 0.8rem;
            color: var(--ion-color-darkGrey);
        }
    }
    ion-grid {
        text-align: center;
    }
    ion-buttons {
        ion-button {
            width: 30%;
        }
    }
    .buttonclass {
        width: 15% !important;
        height: 5% !important;
        margin-top: 0px;
        --border-color: aliceblue;
        color: aliceblue;
    }
    .slider-slide {
        color: #000;
        background-color: #fff;
        // height: fit-content;
        height: 50%;
    }
}